<section id="thank-you" class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Thanks for sending us a message!</h3>
        <p>We'll get back to you as soon as possible.</p>
      </div>
    </div>
  </div>
</section>