// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//Colors

@import 'variables';

a { 
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    
    h3 {
      color: $aquamarine;
    }
  }

.product-col {
  margin-top: 20px;
}

.product {
  border: 1px solid $iron;
  border-radius: 5px;

  &:hover {
    opacity: 0.6;
  }

  h1, h4 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h3, p {
    color: $black;
    text-align: center;
    margin-top: 10px;
  }
  h3 {
    text-transform: capitalize;
    text-transform: uppercase;
    color: $red;
  }

  img {
    max-width: 90%;
    border: 1px solid $firefly;
    border-radius: 5px;
    margin:auto;
    display: flex; 
  }
}

.custom-text-color {
  color: $firefly;
}

// Form
.field {
  padding-top: 10px;
}

.actions {
  padding-top: 10px;

}

// Comments

.fa-trash {
  color: #B52A34;

}

// Pagination
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; 
}

.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
}

.flickr_pagination .disabled {
  color: #aaaaaa; 
}

.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #B52A34; 

}

.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #76BEE2;
  text-decoration: none; 
}

.flickr_pagination a:hover, .flickr_pagination a:focus {
    border-color: #76BEE2;
    background: #76BEE2;
    color: white; 
}

.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; 
}

.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px; 
}

.flickr_pagination .previous_page {
  margin-right: 1em; 
}

.flickr_pagination .next_page {
  margin-left: 1em; 
}