// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

// General styles
* {
  margin: 0;
}

html, body {
  height: 100%;
}

h1 {
	text-transform: uppercase;
}

.content {
  padding-top: 80px;
  padding-bottom: 40px;
}

.content-home {
  padding-top: 40px;
  padding-bottom: 40px;
}

.element-shadow { box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); }

// Navbar
.bg-light {
  background-color: $aquamarine !important;
}

.navbar {
  i {
    font-size: 3vh !important;
    text-decoration: underline;
  }

  a {
    color: $black !important;
  }
  a:hover {
    color: $white !important;
  }
}

.btn-outline-success {
  color:$black;
  border-color: $black;
}

.btn-outline-success:hover {
  color: $white;
  background-color: $black;
  border-color: $black;

}

.custom-link {
    a {
      color: $red !important;
    }

  a:hover {
    color: $aquamarine !important;
  }
}

.custom-error-message {
  margin-bottom: 0px;
}

// Carousel
.custom-carousel-image {
  height: 100vh; 
  background-size: cover; 
  background-repeat: no-repeat;     
  background-position: center;
}

// Footer
footer {
  color: $white;
  background: $firefly;

  p {
    padding: 20px;
  }
}

// Sticky footer styles
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 100px; 
}

// landing_page

// Carousel
.carousel-caption {
  font-size: 2.5vh;
  text-transform: capitalize;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    transition: all 0.2s ease-out;
}

// Index.html.erb
// Hero image
#hero {
  background-image: url("/assets/bike.jpg");
  padding-top: 50px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-position-y: 10px;
  background-repeat: no-repeat;
  height: 100vh;

	#welcome-message {
    color: $white;
    padding-top: 50px;
    padding-left: 20px;
  }

}

// Three column grid
#three-column-grid {

  .column-icon {
    margin: 10px auto;
    font-size: 4vh;
    text-align: center;
    color: $red;
  }
  h3 {
    // text-align: center;
  }
}

// Arrivals
#arrivals {
  h3 {
    text-transform: uppercase;
    padding-bottom: 10px;
  }

}

// Contact
#contact {
  h4 {
    color: $aquamarine;
  }
}
